* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "product sans", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 50px auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  gap: 50px;
  background: #ffffff;
  border: 2px solid #d2d2d2;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
}

form {
  margin-bottom: 50px;
}

.input {
  padding: 15px;
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  margin-right: 10px;
  width: 465px;
  font-weight: 400;
  font-size: 18px;
}

.add-btn {
  padding: 15px 30px;
  width: 93.16px;
  height: 54px;
  color: white;
  background: #145ad7;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  border: none;
  transition: all 0.2s;
}

.add-btn:hover {
  background: #0046c3;
}

.todo-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  color: #505050;
}

h4 {
  font-weight: 500;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  border: 2px solid #b2b2b2;
  border-radius: 5px;
  padding: 10px 20px;
  height: auto;
  max-width: 570px;
  
}
.done{
  text-decoration: line-through;
}

.completed-btn {
  display: flex;
  padding: 10px 20px;
  width: auto;
  height: 36px;
  background: #eb5757;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
